h3, h4 {
    color: rgb(3, 50, 5);
}

.card-header {
background-color: rgb(16, 18, 129);
}

.m-0 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(254, 254, 254);
}

.card-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
}

h5 {
    color: rgb(215, 8, 8);
}

h6 {
    color: rgb(8, 170, 173);
}